:root {
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Roboto;
  background-color: var(--bg-color);
}

.task-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  margin: 2rem 0;
}

.profile-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-container h4 {
  margin-top: 5px;
}
.link-button-container {
  width: 100%;
}

.button {
  width: 100%;
  padding: 1.8rem 0;
  border-radius: 8px;
  border: unset;
  margin: 0.5rem 0;
  text-align: center;
  background-color: lightgrey;
  cursor: pointer;
}

.button a {
  color: black;
  font-size: 900;
  font-size: 0.8rem;
}

@media screen and (max-width: 450px) {
  .task-container {
    width: 90%;
  }
}
