:root {
  --btn-default-color: #1018280d;
  --btn-default-color-hover: #d0d5dd;
  --btn-default-color-disabled: #f2f4f7;
  --btn-default-color-focus: #98a2b3;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Roboto;
  background-color: var(--btn-default-color);
}

.task-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-container h2 {
  margin-top: 15px;
}
.link-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 90%;
  padding: 1.8rem 0;
  border-radius: 8px;
  border: unset;
  margin: 0.5rem 0;
  text-align: center;
  background-color: lightgrey;
  cursor: pointer;
  color: black;
  font-size: 900;
  font-size: 0.8rem;
}

.button:hover {
  background: var(--btn-default-color-hover);
}

.button:disabled {
  background: var(--btn-default-color-disabled);
}

.button:focus {
  background: var(--btn-default-color-focus);
}

@media screen and (max-width: 450px) {
  .task-container {
    width: 90%;
  }
}
